<?xml version="1.0" encoding="utf-8"?>
<!-- {{ ansible_managed }} -->
<service>
  <short>Prometheus Node Exporter</short>
  <description>System stats monitoring server</description>
  <port protocol="tcp" port="9100"/>
</service>
